# Node
node_modules/
.pnpm-store/

# Astro build & cache
dist/
.astro/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env*.local

# OS
.DS_Store
Thumbs.db

# VS Code (ne garde que ce qui est utile à tous)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
