---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Vincent Silvestri" description="À propos de Vincent Silvestri">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Voici mon histoire et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/parcours.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Après plusieurs années d’expérience dans le milieu ferroviaire en tant que manager, un secteur initialement inconnu pour moi, j'ai exercé pendant plus de cinq ans avec passion. Ce métier m’a permis de développer une forte aptitude à gérer les relations humaines, un aspect que j'apprécie particulièrement dans mon travail, car j'aime accompagner les personnes dans leur évolution. Cependant, face à des situations professionnelles de plus en plus difficiles et des demandes qui n'étaient pas en adéquation avec mes valeurs, j’ai pris la décision de quitter mon poste pour prendre un nouveau départ.
					</p><br>
					<p>
						Cette période m’a permis de faire une pause nécessaire et de réfléchir à mes véritables aspirations. Un burn-out a été un tournant dans ma vie professionnelle, mais il m'a aussi permis de me recentrer sur ce qui me passionne vraiment. J'ai découvert que le développement web et mobile correspondait parfaitement à mes intérêts, alliant ma passion pour la technologie et mon désir de contribuer à des projets utiles, tout en ayant une grande liberté créative.
					</p><br>
					<p>
						Aujourd’hui, je suis pleinement engagé dans ma reconversion et je me consacre à l’acquisition de nouvelles compétences en développement, avec des projets concrets comme Mentor Gym Fitness, une application que je développe pour améliorer l’expérience des coachs et des élèves dans le domaine du sport. Ce domaine me permet de créer des solutions qui répondent à des besoins réels, et ce qui me passionne, c’est l’idée de pouvoir continuellement faire évoluer un produit.
					</p><br>
					<p>
						Je souhaite aujourd’hui contribuer à des projets innovants tout en apportant mes compétences humaines acquises en gestion de crise et en communication. Je suis convaincu que mon parcours me permet d’apporter une réelle valeur ajoutée, non seulement sur le plan technique mais aussi dans ma capacité à comprendre les besoins des utilisateurs et à travailler en équipe.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p><strong>RNCP 6 Concepteur Développeur d'applications Web & Mobile Full Stack</strong> – 2025 </p>  
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Développement Web Frontend (HTML, CSS, JavaScript, React)</li>
						<li>Développement Backend (Node.js, Express.js, MongoDB)</li>
						<li>Gestion de bases de données (SQL, MongoDB)</li>
						<li>Création d'APIs RESTful</li>
						<li>Utilisation de frameworks (React, Next.js, etc.)</li>
						<li>Gestion de projet Agile</li>
						<li>Versionnage avec Git et GitHub</li>
						<li>Connaissance des principes du responsive design</li>
						<li>Tests et débogage d'applications web</li>
						<li>Connaissances en UX/UI Design</li>
					  </ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
