---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Vincent Silvestri" description="À propos de Vincent Silvestri">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Voici mon histoire et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/parcours.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Durant onze années d’expérience dans le secteur ferroviaire, j’ai eu l’opportunité d’évoluer vers un poste de manager poste que j'ai occupé pendant plus de 5 ans. Le poste de manager m’a permis de développer une forte capacité à gérer les relations humaines, un aspect que j’ai toujours apprécié dans mon travail. L'accompagnement des personnes dans leur évolution professionnelle a toujours été une source de motivation constante tout au long de mon parcours.						</p><br>
					<p>
						Avec le temps, j’ai ressenti le besoin de me réaligner avec mes valeurs et mes aspirations. Ce questionnement m’a conduit à me tourner vers un domaine qui m’a toujours attiré : le développement web et mobile. J’y ai trouvé un équilibre entre logique, créativité et utilité, autant d’éléments qui nourrissent mon envie de concevoir des produits concrets et utiles.					</p><br>
					<p>
						Aujourd’hui, je suis pleinement engagé dans ma reconversion, et je me forme activement aux technologies du développement avec des projets concrets comme Mentor Gym Fitness, une application que je développe pour améliorer l’expérience des coachs et des élèves dans le domaine du sport. Ce projet me permet de créer des solutions à impact réel, tout en me plongeant dans une logique d’amélioration continue.					</p><br>
					<p>
						Je souhaite désormais rejoindre une équipe portée par l’innovation, à laquelle je pourrais apporter non seulement mes compétences techniques en développement, mais aussi mon expérience en gestion de crise, en communication et en collaboration humaine.

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p><strong>RNCP 6 Concepteur Développeur d'applications Web & Mobile Full Stack</strong> – 2025 </p>  
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Développement Web Frontend (HTML, CSS, JavaScript, React)</li>
						<li>Développement Backend (Node.js, Express.js, MongoDB)</li>
						<li>Gestion de bases de données (SQL, MongoDB)</li>
						<li>Création d'APIs RESTful</li>
						<li>Utilisation de frameworks (React, Next.js, etc.)</li>
						<li>Gestion de projet Agile</li>
						<li>Versionnage avec Git et GitHub</li>
						<li>Connaissance des principes du responsive design</li>
						<li>Tests et débogage d'applications web</li>
						<li>Connaissances en UX/UI Design</li>
					  </ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
