---
import BaseLayout from '../layouts/BaseLayout.astro';
import SEO from "../components/SEO.astro";
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

const canonicalUrl = "/about/";
---

<BaseLayout title="À propos | Vincent Silvestri" description="À propos de Vincent Silvestri">
	<SEO canonicalUrl={canonicalUrl} />
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Voici mon histoire et mon parcours."
			>
				<img
					width="800"
					height="368"
					src="/assets/parcours.avif"
					alt="Photo d'un paysage rocheux illustrant mon parcours"
					loading="lazy"
					decoding="async"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Pendant onze ans dans le secteur ferroviaire, dont plus de cinq en tant que manager, j’ai développé une solide expertise en gestion d’équipe, en communication et en résolution de crises. J’ai toujours eu à cœur d’accompagner les personnes dans leur évolution professionnelle, ce qui a été une source de motivation constante.
					</p>
					<p>
						Avec le temps, j’ai choisi de me réaligner avec mes valeurs et mes aspirations, en me tournant vers un domaine qui m’attirait depuis longtemps : le développement web et mobile. Ce métier combine logique, créativité et impact concret, un terrain idéal pour concevoir des solutions utiles et durables.
					</p>
					<p>
						Aujourd’hui, je suis pleinement engagé dans ma reconversion et je me forme activement aux technologies du développement avec des projets concrets comme <em>Mentor Gym Fitness</em>, une application développée pour améliorer l’expérience des coachs et des élèves dans le domaine du sport. Ce projet me permet de créer des solutions à impact réel, tout en me plongeant dans une logique d’amélioration continue.
					</p>
					<p>
						Mon objectif : intégrer une équipe innovante où je peux apporter mes compétences techniques (React, Node.js, MongoDB…) et mon expérience en management pour contribuer à des projets ambitieux.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p><strong>RNCP 6 Concepteur Développeur d'applications Web & Mobile Full Stack</strong> – 2025</p>
				</div>
			</section>

			<section aria-labelledby="skills-title">
				<h2 id="skills-title" class="section-title">Compétences techniques</h2>
				<div class="content">
					<ul>
						<li>Développement Web Frontend (HTML, CSS, JavaScript, React)</li>
						<li>Développement Backend (Node.js, Express.js, MongoDB)</li>
						<li>Gestion de bases de données (NoSQL, MongoDB)</li>
						<li>Création d'APIs RESTful</li>
						<li>Utilisation de frameworks (React, Next.js, etc.)</li>
						<li>Gestion de projet Agile</li>
						<li>Versionnage avec Git et GitHub</li>
						<li>Connaissance des principes du responsive design</li>
						<li>Tests et débogage d'applications web</li>
						<li>Connaissances en UX/UI Design</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 1 / 4;
	}

	.content > ul {
		display: grid;
		justify-content: center;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
